
@model PagedList.IPagedList<Xedap.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Sản phẩm xe đạp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        @foreach(var test in ViewBag.Product)
            {
                <h3 class="text-center">@test.CategoryName</h3>
            }

<div class="container-fluid" style=" padding: 0!important">
    <div class="row">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        if (item.IsDelete != true)
                        {
                            <div class=" col-4" style="padding-bottom:40px">
                                <div class="card border-secondary" style="max-height: 600px; max-width: 300px; min-height: 250px; min-width: 150px; ">
                                    <a href="/product/productdetail/@item.IDProduct">
                                        <img src="~/Content/Image/@item.ImageURL" class="card-img-top" alt="@Html.Raw(item.Name)">
                                    </a>
                                    <div class="card-body">
                                        <a href="/product/productdetail/@item.IDProduct">
                                            <h5 style="min-height:100px "  class="card-title">@Html.Raw(item.Name)</h5>
                                        </a>

                                        <h6 class="card-price">Giá cả: @String.Format("{0:0,0}", item.Price) VND</h6>


                                    </div>
                                </div>
                            </div>
                        }

                    }

                </div>
                    </div>
        </div>

    </div>
</div>




<!-- Mã phân trang -->
<br />

<div class="paginationtest " >

    <p class="text-center">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
    <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item", "page-link" },
    })
    </div>

</div>
