@model IEnumerable<Xedap.Models.Product>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border: 5px solid blue; border-radius:20px; padding:5px;margin:10px 0">
    <h3 class="text-center">Xe đạp đường phố</h3>
    <div class="row">
        @foreach (var item in ViewBag.DuongPho)
        {
            <div class="col-3">
                <div class="card border-0 menu-item" style="min-height:450px;max-height:450px;">
                    <a href="/product/productdetail/@item.IDProduct">
                        <img src="~/Content/Image/@item.ImageURL" class="card-img-top" alt="@Html.Raw(@item.Name)">
                    </a>
                    
                    <div class="card-body">
                        <a href="/product/productdetail/@item.IDProduct">
                            <h5 class="card-title" style="min-height:100px;">@Html.Raw(@item.Name)</h5>
                            </a>
                            <a href="/product/ProductDetail/@item.IDProduct" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                            <button name="add" class="btn btn-outline-danger" pid="@item.IDProduct"><i class="fa-solid fa-cart-shopping"></i></button>
</div>
                </div>
            </div>
        }
    </div>
</div>
<div style="border: 5px solid red; border-radius:20px; padding:5px; margin:10px 0">
    <h3 class="text-center">Xe đạp đua</h3>


    <div class="row">
        @foreach (var item in ViewBag.Dua)
        {
            <div class="col-3">
                <div class="card border-0 menu-item" style="min-height:450px;max-height:450px;">
                    <a href="/product/productdetail/@item.IDProduct">
                        <img src="~/Content/Image/@item.ImageURL" class="card-img-top" alt="@Html.Raw(@item.Name)">
                        </a>
                    <div class="card-body">
                        <a href="/product/productdetail/@item.IDProduct">
                            <h5 class="card-title" style="min-height:100px;">@Html.Raw(@item.Name)</h5>
                            </a>
                            <a href="/product/ProductDetail/@item.IDProduct" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                            <button name="add" class="btn btn-outline-danger" pid="@item.IDProduct"><i class="fa-solid fa-cart-shopping"></i></button>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div style="border: 5px solid yellow; border-radius:20px; padding:5px;margin:10px 0">
    <h3 class="text-center">Xe đạp trẻ em</h3>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card border-0 menu-item" style="min-height:450px;max-height:450px;">
                    <a href="/product/productdetail/@item.IDProduct">
                        <img src="~/Content/Image/@item.ImageURL" class="card-img-top" alt="@Html.Raw(@item.Name)">
                        </a>
                    <div class="card-body">
                        <a href="/product/productdetail/@item.IDProduct">
                            <h5 class="card-title" style="min-height:100px;">@Html.Raw(@item.Name)</h5>
                            </a>
                            <a href="/product/ProductDetail/@item.IDProduct" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                            <button name="add" class="btn btn-outline-danger" pid="@item.IDProduct"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        $('button[name="add"]').click(function () {
            event.preventDefault;
            event.stopPropagation;
            var pid = $(this).attr('pid');

            $.post('/cart/Add1ItemToCart', { idProduct: pid }, (r) => {
                alert("Thêm sản phẩm vào giỏ hàng thành công")
                console.log(r);
                /*window.location.href = window.location.href;*/
            });
        });
    </script>
    
    
    }

