@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chính sách bảo mật";
    ViewBag.Url = "/";
}

<div class="container-fluid">
    <h1 class="mt-4">CHÍNH SÁCH BẢO MẬT</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chính sách bảo mật</li>
    </ol>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9 text-center">
            <div class="openning"></div>
            <h2><b>CHÍNH SÁCH BẢO MẬT</b></h2>
            <h2>-------------</h2>
            <h2>NHÓM CÔNG NGHỆ PHẦN MỀM PAIMON</h2><br />
            <h3>Warning - Đây chỉ là đồ án môn học</h3>
            <h6>(Bạn quan tâm đến mã nguồn đồ án này? - Đây là link GitHub nhóm bọn mình: <a href="https://github.com/RioRichard/XedapTeyvat">Bấm vào đây</a>)</h6><br />
            <div class="Middle"></div>
            <p class="canhthanbai text-left">

                <b>THIẾT KẾ WEBSITE PAIMON - Thông tin dưới đây chỉ là hư cấu</b><br /><br />

                Cảm ơn quý khách đã truy cập website <a href="@ViewBag.Url">Paimon </a> được vận hành bởi Công ty TNHH Paimon.<br />
                Bảo mật thông tin khách hàng là điều kiện hàng đầu trong tiêu chí kinh doanh trực tuyến của chúng tôi. Chúng tôi tôn trọng thông tin mang tính riêng tư của khách hàng, và thấu hiểu việc sử dụng đúng đắn thông tin khách hàng cung cấp và bảo mật thông tin khách hàng sẽ giúp quý khách an tâm trong việc mua sắm trực tuyến.<br /><br />

                <b>MỤC ĐÍCH VÀ PHẠM VI THU THẬP THÔNG TIN</b><br />
                Quý khách có thể ghé thăm trang web <a href="@ViewBag.Url">Paimon </a> mà không cần phải cung cấp bất kỳ thông tin cá nhân nào, trừ khi quý khách tiến hành mua hàng trên trang web, cần phải cung cấp thông tin khách hàng, để chúng tôi có thể theo dõi/xử lý đơn hàng và tiến hành giao hàng đến địa điểm quý khách hàng yêu cầu; hoặc quý khách đăng nhập thông tin bằng tên và mật khẩu của mình khi quý khách đã đăng ký thông tin cá nhân trên website.<br /><br />

                Paimon sử dụng thông tin khách hàng nhằm nâng cao chất lượng dịch vụ khách hàng và tạo môi trường mua sắm trực tuyến an tòan, tiện lợi tại <a href="@ViewBag.Url">Paimon </a> Các thông tin chúng tôi thu thập bao gồm:<br />
                - Tên Họ<br />
                - Địa chỉ giao hàng<br />
                - Số điện thoại di động<br /><br />

                <b>PHẠM VI SỬ DỤNG THÔNG TIN</b><br />
                Paimon cam đoan chỉ sử dụng thông tin khách hàng trong nội bộ; sẽ không bán, chia sẻ dẫn đến làm lộ thông tin cá nhân của khách vì mục đích thương mại. Những thông tin Paimon thu thập nhằm sử dụng cho mục đích:<br />
                - Xử lý đơn hàng và liên hệ với khách hàng xác nhận đơn hàng<br />
                - Giao hàng đến quý khách đặt mua trên trang web <a href="@ViewBag.Url">Paimon </a> <br />
                - Thông báo về việc giao hàng và hỗ trợ khách hàng<br />
                - Cung cấp thông tin liên quan đến sản phẩm khi khách hàng có yêu cầu<br />
                - Cung cấp dịch vụ và thông tin theo yêu cầu của quý khách<br />
                - Paimon có thể công bố các thông tin cá nhân thu thập từ khách hàng cho dịch vụ vận chuyển nhằm gửi sản phẩm đến cho khách hàng theo thông tin đơn hàng.<br /><br />

                Quý khách hàng lưu ý không nên trao đổi những thông tin thanh toán, giao nhận của quý khách cho 1 bên thứ 3 nào khác để tránh rò rỉ thông tin. Khi dùng chung máy tính với người khác, quý khách vui lòng thoát khỏi tài khoản khi không sử dụng dịch vụ của <a href="@ViewBag.Url">Paimon </a> để tự bảo vệ thông tin về mật khẩu truy cập của mình.<br /><br />

                <b>THỜI GIAN LƯU TRỮ THÔNG TIN</b><br />
                Paimon chỉ giữ thông tin của quý khách trong thời gian luật pháp yêu cầu hoặc cho mục đích mà thông tin đó được thu thập. Paimon sẽ hủy thông tin khách hàng khi quý khách yêu cầu.<br /><br />

                <b> ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÝ THÔNG TIN CÁ NHÂN</b><br />
                Công ty TNHH Paimon<br />
                Block M2, Long tích tuyết sơn, đường The Chasm.<br />
                Số điện thoại: (08) xxxxxxxxx<br />
                Email: info@Paimon.vn<br /><br />

                <b>CÁCH THỨC NGƯỜI DÙNG TIẾP CẬN VÀ CHỈNH SỬA DỮ LIỆU CÁ NHÂN</b><br />
                Để theo dõi thông tin cá nhân đã đăng ký và thông tin đơn hàng, quý khách hàng vui lòng truy cập vào website <a href="@ViewBag.Url">Paimon </a> với email đăng nhập và mật khẩu đã đăng ký.<br /><br />

                <b>CAM KẾT BẢO MẬT THÔNG TIN CÁ NHÂN KHÁCH HÀNG</b><br />
                Paimon thấu hiểu bảo vệ thông tin cá nhân của khách hàng cũng chính là trách nhiệm của Paimon nên trong bất kỳ trường hợp có thắc mắc, góp ý nào liên quan đến chính sách bảo mật của Paimonn, vui lòng liên hệ qua số điện thoại: (08) xxxxxxxxx email: info@Paimon.vn.<br />
                Paimon cam kết bảo mật mọi thông tin của khách hàng tại <a href="@ViewBag.Url">Paimon </a>; nhưng trong trường hợp pháp luật yêu cầu, Paimon buộc phải cung cấp thông tin này cho cơ quan pháp luật.<br /><br />

                Cảm ơn quý khách hàng tin tưởng mua hàng tại <a href="@ViewBag.Url">Paimon </a>.
</div>
    </div>
</div>
