
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết sản phẩm (Mua 1 tặng 2 tính tiền 4) </h2>

<div class="container" style="padding: 20px ">
    <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4" >
            <img src="~/Content/Image/@Model.ImageURL" alt="@Html.Raw(Model.Name)" style="max-width:100%"/>
        </div>
        <div class="vr"></div>
        <div class="col-md-6 p-4 ps-md-0">
            <br /><br />
            <h3 style="color: red"> <strong> @Html.Raw(Model.Name)</strong> </h3>
            <p></p>
            @if (Model.Stock > 0)
            {
                <p class="text-danger">Còn hàng</p>
            }
            else
            {
                <p class="text-danger">Hết hàng</p>

            }

        <p>Giá cả: >@String.Format("{0:0,0}", Model.Price) VND</p>

            @*<form >
                <input action="/cart/AddItemToCart" type="hidden" name="iDProduct" value="@Model.IDProduct" method="post"/>
                <label for="quantity"> Nhập số lượng:</label>
                <br />
                <input type=number min="1" max="@Model.Stock" name="quantity" id="quantity" value="0" />
                <br />
                <br />
                <button class="btn btn-danger" style="">Thêm vào giỏ hàng</button>
            </form>*@
            <form action="/cart/AddItemToCart" method="post">
                <input type="hidden" name="iDProduct" value="@Model.IDProduct" />
                <label for="quantity"> Nhập số lượng:</label>
                <br />
                <input type=number min="1" max="@Model.Stock" name="quantity" id="quantity" value="0" />
                <br />
                <br />
                <button class="btn btn-danger" style="">Thêm vào giỏ hàng</button>
            </form>
            <div class="text-danger">@TempData["messageAddItem"]</div>
            <br />

            <strong style="color: red">
                Chi tiết Sản Phẩm:
            </strong>
            <p>
                @Html.Raw(@Model.Description)
            </p>
        </div>
    </div>
    <div style="margin: 40px" class="fw-bold">
        <strong style="color: red">Thông tin sản phẩm</strong>
        @foreach (var item in ViewBag.PA)
        {
            <br />
            <strong>@item.AttributeName : </strong>
            @item.AttributeValue
        }
    </div>

</div>