<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/admincss.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .modal, .modalver2 {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
            align-items: center;
            justify-content: center;
            display: none;
        }

        .modal-container {
            background-color: white;
            width: 60%;
            max-width: calc(100%-32px);
            min-height: 200px;
            position: relative;
            overflow-y: initial !important;
        }

        .modal-header {
            background-color: rgb(229, 56, 56);
            height: 130px;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            line-height: 65px;
            color: white;
        }

        .ti-bag {
            margin: 12px;
        }

        .close, .closever2 {
            position: absolute;
            right: 0;
            top: 0;
            color: white;
            padding: 15px;
            cursor: pointer;
        }

            .close:hover {
                color: black;
                background-color: #ccc;
            }

        .modal-body {
            padding: 15px;
            height: 80vh;
            overflow-y: auto;
            max-height: 600px
        }

        .modal-label {
            display: block;
            margin-top: 15px;
            margin-bottom: 5px;
            font-size: 16px;
        }

        .modal-input {
            padding: 8px;
            width: 100%;
            font-size: 15px;
        }

        .buy-tickets {
            width: 100%;
            padding: 16px;
            background-color: rgb(229, 56, 56);
            margin: 16px 0;
            align-items: center;
            justify-content: center;
            border: none;
            color: white;
            cursor: pointer;
        }

            .buy-tickets:hover {
                opacity: 0.8;
            }

        .modal-footer {
            text-align: right;
            padding: 16px;
            border: none;
        }

            .modal-footer a {
                color: #2196f3;
            }

        .modal.open {
            display: flex;
        }

        .modal.close {
            display: none;
        }

        .modalver2.open {
            display: flex;
        }

        .modalver2.close {
            display: none;
        }

        #footer {
        }
    </style>
</head>
<body>
    <header>
        <div id="header" style="position:relative">
            <ul id="nav">
                <li><a href="#"><img src="~/Content/Image/Free_Sample_By_Wix.jpg" style="width:70%" /></a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Band</a></li>
                <li><a href="">Tour</a></li>
                <li><a href="">Contact</a></li>
                <li>
                    <a href="">
                        More
                        <i class="fa fa-caret-down" aria-hidden="true" style="color:white;"></i>
                    </a>
                    <div class="subnav">
                        <div class="nav-column">
                            <a class="nav-header" href="">Xe đạp</a>
                            <div class="border-nav"></div>
                            @{
                                Html.RenderAction("SubNav", "Partial");
                            }
                        </div>
                    </div>
                </li>

            </ul>
            <a class="cart" href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>
    </header>
    <div class="row" style="min-height:100vh">
        <div class="col-2">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="font-size:20px; font-weight:bold">Danh mục quản lí</div>

                        <a class="nav-link" href="/admin" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Thông tin cá nhân
                        </a>
                        <a class="nav-link" href="/admin/changepassword" style="font-size:18px">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-key"></i>
                            </div>
                            Đổi mật khẩu
                        </a>
                        <a class="nav-link" href="/admin/StaffManagement" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Quản Lý Nhân Viên
                        </a>
                        <a class="nav-link" href="/admin/product" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                            Sản Phẩm
                        </a>
                        <a class="nav-link" href="/admin/attribute" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                            Thuộc Tính
                        </a>
                        <a class="nav-link" href="/admin/category" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-certificate"></i></div>
                            Danh Mục
                        </a>
                        <a class="nav-link" href="/admin/invoicedetail" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
                            Chi Tiết Đơn Hàng
                        </a>
                        <a class="nav-link" href="/admin/chart" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-pie"></i></div>
                            Bảng Thống Kê
                        </a>
                        <a class="nav-link" href="/admin/setting" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                            Thiết lập trang web
                        </a>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-trash-alt"></i></div>
                            Thùng Rác
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/admin/bannedstaff">-Nhân Viên</a>
                                <a class="nav-link" href="/admin/DeletedAttribute">-Thuộc Tính</a>
                                <a class="nav-link" href="/admin/DeletedCategory">-Danh Mục</a>
                                <a class="nav-link" href="/admin/deletedproduct">-Sản Phẩm</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="/adminauth/LogOut" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                            Đăng xuất
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="footer-1">
            <div class="footer-content">
                <div class="nav-column">
                    <a class="nav-header" href="">Chính sách</a>
                    <div class="border-nav"></div>
                    <div style="padding-bottom:20px"></div>
                    <a class="navitem" href="">Chính sách bảo mật thông tin</a>
                    <a class="navitem" href="">Chính sách dbrr</a>
                </div>
            </div>
            <div class="footer-content">
                <div class="nav-column">
                    <div style="padding-top:30px"></div>
                    <a class="nav-header" href="">Công ty</a>
                    <div class="border-nav"></div>
                    <div style="padding-bottom:20px"></div>
                    <a class="navitem" href="">Giới thiệu</a>
                    <a class="navitem" href="">Liên hệ</a>
                </div>
            </div>
            <div class="footer-content" style="padding-top:-30px">
                <div class="nav-column">
                    <a class="nav-header" href="">Kết nối</a>
                    <div class="border-nav"></div>
                    <div style="padding-bottom:20px"></div>
                    <a class="navitem" href="https://github.com/RioRichard/XedapTeyvat"><img width="35" src="https://cdn3.iconfinder.com/data/icons/inficons/512/github.png" /></a>
                    <div style="padding-bottom:20px"></div>
                </div>
            </div>
        </div>
        <div class="footer-1 footer-2" style="background-color: #a3e2ff; ">
            <div class="footer-content">
                <div class="nav-column">
                    <div class="navitem">Email:</div>
                </div>
            </div>
            <div class="footer-content" style="margin-top: 20px">
                <div class="nav-column">
                    <div class="navitem" style="font-weight:bold;font-size:25px;">Công ty Paimon</div>
                    <div class="navitem">Sản phẩm thuộc đồ án Lập Trình Web</div>
                </div>
            </div>
            <div class="footer-content" style="padding-top:-30px">
                <div class="nav-column">
                    <div class="navitem" style="font-size:20px">Copyright © by Nhóm 4</div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

</body>
</html>
