
@{
    ViewBag.Title = "DeletedProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">SẢN PHẨM ĐÃ XÓA</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin">Trang quản lí</a></li>

            <li class="breadcrumb-item active">SẢN PHẨM ĐÃ XÓA</li>
        </ol>

        <div class="card-body">
            <table class="table table-bordered" style="vertical-align:baseline">
                <thead class="bg-dark" style="color:white">
                    <tr>

                        <td>Tên Sản Phẩm</td>
                        @*<td>Giá</td>*@
                        <td>Số Lượng</td>
                        <td>Hình Ảnh</td>
                        @*<td>Description</td>*@
                        <td>Khôi Phục Sản Phẩm</td>
                        <td>Xóa vĩnh viễn</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr style="text-align:center">

                            <td>
                                <p><h5 style="color:black; max-width:400px">@Html.Raw(item.Name)</h5></p>
                            </td>
                            @*<td>
                                    <p><h5 style="color:black">@item.Price VND</h5></p>
                                </td>*@
                            <td>
                                <p><h5 style="color:black">@item.Stock</h5></p>
                            </td>
                            <td>
                                <p><h5 style="color:black"> <img src="~/Content/Image/@item.ImageURL" width="150" height="150" alt="@Html.Raw(item.Name)" />  </h5></p>
                            </td>

                            <td>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0" style="margin-top:0px !important">
                                    <button class="btn btn-primary btn-restore" pdID="@item.IDProduct" name="restore">Khôi Phục</button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0" style="margin-top:0px !important">
                                    <button class="btn btn-primary btn-delete4ever" pID="@item.IDProduct" name="delete4ever">Xóa4EVER</button>
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</main>
@section Scripts{
    <script>
        $("button[name='restore']").click(function () {
            var pdID = $(this).attr("pdID");
            $.ajax({
                type: "POST",
                url: "/admin/restoreproduct",
                data: { pdID: pdID },
                dataType: "json",

                success: function (response) {
                    if (response == false) {
                        alert("Khôi phục danh mục không thành công");
                    }
                    else {
                        alert("Khôi phục danh mục thành công.");
                        window.location.href = window.location.href;
                    }
                }
            });
        })

        //$("button[name='delete4ever']").click(function () {
        //    var pdID = $(this).attr("pdID");
        //    $.ajax({
        //        type: "POST",
        //        url: "/admin/",
        //        data: { pdID: pdID },
        //        dataType: "json",

        //        success: function (response) {
        //            if (response == false) {
        //                alert("Khôi phục danh mục không thành công");
        //            }
        //            else {
        //                alert("Khôi phục danh mục thành công.");
        //                window.location.href = window.location.href;
        //            }
        //        }
        //    });
        //})
    </script>
}
